@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply mx-auto min-w-fit text-slate-500;

    h1 {
        @apply text-2xl text-center font-bold;
    }

    form {
        @apply w-full;

        fieldset {
            @apply p-4 flex flex-col justify-between border-slate-200 border-b;

            input, select {
                @apply font-normal border-slate-400 border rounded p-2;
            }
        }

        label {
            @apply font-bold mx-2 mt-2 gap-4 flex justify-between align-middle items-center;
        }

        comment {
            @apply text-xs mx-2 mt-0 p-0 ;
        }

        button {
            @apply bg-lime-600 w-full rounded text-white p-4 font-bold text-xl m-2;
        }
    }

    #automation_builder {

        #actionlist {
            @apply min-w-64;
        }

        .action {
            @apply border border-slate-300 rounded m-1 p-1 flex flex-col gap-1 relative text-sm;
            cursor: grab;
        }

        .action.dragging {
            @apply opacity-50 border-sky-700;
        }

        #target {
            .action {
                @apply flex-row cursor-default items-center;
            }

            label:has(input.invalid-input)::after {
                content: "\26A0";
                @apply p-0 m-0;
            }
        }
    }

    input, select {
        @apply font-normal border-slate-400 border rounded p-0.5    ;
    }

    .invalid-input {
        @apply border border-red-700 bg-red-50 relative;
    }

    #invalidDialog::backdrop {
        @apply bg-slate-700 opacity-75;
    }
}