<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supplier Gather</title>
    <link href="/static/css/styles.css" rel="stylesheet">
</head>
<body class="max-w-lg">
    <h1>Supplier Gathering</h1>
    <form>
        <fieldset>
            <label for="supplier">Supplier
                <select name="supplier">
                    <option selected="true">Select a supplier</option>
                    {% for supplier in suppliers %}
                        <option value="{{supplier.value}}">{{supplier.label}}</option>
                    {% endfor %}
                </select>
            </label>
        </fieldset>
        <fieldset>
            <label for="download_type">Download type
                <select name="download_type">
                    <option selected="true" disabled>Select a fetch type</option>
                    <option value="download">download</option>
                    <option value="automation">automation</option>
                </select>
            </label>
            <label for="download_url">Download URL
                <input type="url" name="download_url" placeholder="Enter the download URL" />
            </label>
        </fieldset>
        <fieldset>
            <label for="file_type">File type
                <select name="file_type">
                    <option selected="true" disabled>Select a file type</option>
                    <option value="CSV">CSV</option>
                    <option value="XML">XML</option>
                    <option value="XLSX">XLSX</option>
                </select>
            </label>
            <label for="download_path">Download path
                <input type="input" name="download_path" placeholder="Enter the file save path" />
            </label>
            <comment>Filepath relative to X</comment>
        </fieldset>
        <fieldset>
            <button>Save</button>
        </fieldset>
    </form>
</body>
</html>