<!DOCTYPE html>
<html lang="en">
<head>
    {%- if not is_production %}
    <script type="module" src="{{ asset('@vite/client') }}"></script>
    {%- endif %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supplier Gather</title>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link href="/static/css/styles.css" rel="stylesheet">
</head>
<body>
    <h1>Supplier Gathering</h1>
    <form>
        <fieldset>
            <label for="supplier">Supplier
                <select name="supplier">
                    <option selected="true" disabled>Select a supplier</option>
                    <option value="Lincat">Lincat</option>
                    <option value="Pentland">Pentland</option>
                </select>
            </label>
        </fieldset>
        <fieldset>
            <label for="download_type">Download type
                <select name="download_type">
                    <option selected="true" disabled>Select a fetch type</option>
                    <option value="download">download</option>
                    <option value="automation">automation</option>
                </select>
            </label>
            <label for="download_url">Download URL
                <input type="url" name="download_url" placeholder="Enter the download URL" />
            </label>
        </fieldset>
        <fieldset>
            <label for="file_type">File type
                <select name="file_type">
                    <option selected="true" disabled>Select a file type</option>
                    <option value="CSV">CSV</option>
                    <option value="XML">XML</option>
                    <option value="XLSX">XLSX</option>
                </select>
            </label>
            <label for="download_path">Download path
                <input type="input" name="download_path" placeholder="Enter the file save path" />
            </label>
            <comment>Filepath relative to X</comment>
        </fieldset>
        <fieldset>
            <button>Save</button>
        </fieldset>
    </form>
</body>
</html>