<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supplier Gather</title>
    <link href="/static/css/styles.css" rel="stylesheet">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body class="max-w-screen-lg">
    <div x-data="flash" x-init="loadMessage" x-show="message" class="absolute top-10 left-5 rounded shadow border border-slate-400 bg-green-200">
        <p class="py-5 px-10" x-text="message"></p>
    </div>
    <div class="p-2" x-data="supplierSelection" x-init="checkPassedSupplier" @fetchsupplier.window="fetchSupplierData()">
        <h1>Supplier Gathering</h1>
        <fieldset class="flex justify-center align-middle gap-2 m-4 p-2 border border-slate-200 rounded">
            <label for="supplier">Supplier
                <select name="supplier" id="supplierselect" x-model="selection" @change="load_disabled = !selection;">
                    <option value="" selected>Select a supplier</option>
                    {% for supplier in suppliers %}
                        {% if supplier.value %}
                            <option value="{{supplier.value}}">{{supplier.label}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </label>
            <button type="submit" class="px-4 py-2 rounded font-bold text-white"
            :class="load_disabled ? 'bg-slate-300' : 'bg-blue-700'"
            :disabled="load_disabled" @click.prevent="fetchSupplierData()">
                Load supplier
            </button>
        </fieldset>
    </div>
    <div class="flex w-full">
        <form class="border border-slate-200 rounded m-2 p-2" x-data="newAutomation"> <!-- New Automation -->
            <h2 class="text-center font-bold text-lg">New Automation</h2>
            <fieldset>
                <label for="name">Name
                    <input type="text" x-model="name" name="name" placeholder="Enter a name" required />
                </label>
                <label for="download_type">Type
                    <select name="download_type" x-model="type" required>
                        <option selected="true">Select a fetch type</option>
                        <option value="1">Download</option>
                        <option value="0">Automation</option>
                    </select>
                </label>
                <label for="download_url" x-show="type == 1">Download URL
                    <input type="url" x-model="url" name="download_url" placeholder="Enter the download URL" :required="type == 1" />
                </label>
                <label for="location">Save location
                    <select name="location" x-model="location" required>
                        <option selected="true">Select where to save the file(s)</option>
                        {% for folder in save_locations %}
                            <option value="{{folder[1]}}">
                                {{folder[0]}}
                            </option>
                        {% endfor %}
                    </select>
                </label>
            </fieldset>
            <fieldset>
                <button type="submit" @click.prevent="save()" x-text="(type == null || type == 1) ? 'Save' : 'Build & Test'"></button>
            </fieldset>
        </form>
        <form x-data="currentSupplier" class="border border-slate-200 rounded m-2 p-2"
            @supplierloaded.window="displaySupplierData($event)"> <!-- Existing Automation -->
            <h2 class="text-center font-bold text-lg" x-text="Alpine.store('selectedSupplierLabel') ? Alpine.store('selectedSupplierLabel') + ' Automations' : 'Existing Automations'"></h2>
            <fieldset>
                <template x-for="automation in automations">
                    <div x-data="existingAutomation" class="border border-slate-200 rounded m-1 p-1 w-full max-w-full even:bg-blue-50">
                        <div class="flex align-middle justify-between">
                            <label :for="automation.id">
                                <input type="radio" :value="automation.id" :id="automation.id" name="existing_automations" x-model="selected_automation_id">
                                <span x-text="automation.name + ' (ID: ' + automation.id + ')'"></span>
                            </label>
                            <p class="mt-2 mx-2" x-text="automation.type == 0 ? 'Automation' : 'Download'"></p>
                            <p :class="get_automation_status_colour(automation.last_run_result, automation.next_run_time, automation.schedule)" class="rounded-full w-5 h-5 mt-2 mx-2" :title="automation.next_run_time"></p>
                            <p class="mt-2 mx-2 text-lg cursor-pointer" @click="collapsed = !collapsed" x-text="collapsed ? '&plus;' : '&minus;'"></p>
                        </div>
                        <div x-show="!collapsed" class="align-middle justify-center text-xs mt-2 bg-white">
                            <p class="even:bg-slate-100 font-bold p-2">Save location: <span class="font-normal" x-text="automation.location"></span></p>
                            <p class="even:bg-slate-100 font-bold p-2 truncate max-w-md">Start URL: <span class="font-normal" x-text="automation.url"></span></p>
                            <p class="even:bg-slate-100 font-bold p-2">Next run time: <span class="font-normal" x-text="get_formatted_run_time(automation.next_run_time)"></span></p>
                            <p class="even:bg-slate-100 font-bold p-2">Last run result: <span class="font-normal" x-text="automation.last_run_result"></span></p>
                            <div class="flex justify-around items-center">
                                <p class="even:bg-slate-100 font-bold p-2">Current schedule: <span class="font-normal" x-text="automation.schedule"></span></p>
                                <div x-show="automation.next_run_time && automation.schedule">
                                    <button @click.prevent="pause_automation(automation.id)" class="m-0 py-0 px-4 text-xs bg-amber-300 text-black" type="button">Pause</button>
                                </div>
                                <div x-show="!automation.next_run_time && automation.schedule">
                                    <button @click.prevent="resume_automation(automation.id)" class="m-0 py-0 px-4 text-xs" type="button">Resume</button>
                                </div>
                            </div>
                            <form id="schedule" class="flex items-center">
                                <label class="font-bold" for="schedule">Schedule:
                                    <select x-model="schedule">
                                        <option selected>Select a schedule...</option>
                                        <option :selected="automation.schedule == 'hourly'" value="hourly">Every hour</option>
                                        <option :selected="automation.schedule == 'threeaday'" value="threeaday">3 times a day (8am, Noon & 4pm)</option>
                                        <option :selected="automation.schedule == 'daily'" value="daily">Every day</option>
                                        <option :selected="automation.schedule == 'custom'" value="custom">Daily at custom time</option>
                                    </select>
                                </label>
                                <label for="time" x-show="schedule == 'custom'">Time:
                                    <input type="time" name="time" x-model="customtime" :required="(schedule == 'custom')" />
                                </label>
                                <button @click="schedule_automation($event, automation.id, automation.type)" class="py-1 bg-blue-600" type="button">Schedule</button>
                            </form>
                            <p x-show="error" class="text-xs text-red-700 text-center italic font-bold" x-text="error"></p>
                        </div>
                    </div>
                </template>
                <template x-if="automations.length < 1">
                    <p class="italic text-center text-xs">No automations yet.</p>
                </template>
            </fieldset>
            <fieldset>
                <button class="bg-red-500 text-white py-0" @click.prevent="deleteSelectedAutomation()" type="button">Delete</button>
            </fieldset>
        </form>
    </div>
    <script type="text/javascript" src="../static/js/index.js"></script>
    <script type="text/javascript" src="../static/js/flash.js"></script>
</body>
</html>